<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - J'adore cuisiner</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Ajoutez votre CSS personnalisé ici */
        .jumbotron {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    </style>
</head>
<body>
   
    {% include "header.html" %}

    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur J'adore cuisiner!</h1>
            <p class="lead">Cuisiner c'est bon pour la santé</p>
            <img src="https://pageperso.lis-lab.fr/benoit.favre/tp-web/images/kitchen.jpg" class="img-fluid" alt="Cuisine">
        </div>
    </div>


    {% include "footer.html" %}

   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
